body{background-color: black;}
body ul{color: crimson;}
body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: lighter; font-size:medium; color: darkcyan;}
a{color: darkviolet;}
.flex-justify-content-center
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: lighter;color:blueviolet;}
table {background-color:midnightblue; color: bisque;}
td {color:aqua;}
thead {color: bisque;}
